.emergency-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.emergency-thq-emergency-elm {
  gap: 64px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 72px 48px 112px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-quickresponseicon);
}
 
.emergency-thq-text-elm1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: normal;
}
 
.emergency-thq-paragraphcontainer-elm {
  gap: 8px;
  width: 300px;
  height: 300px;
  display: flex;
  padding: 48px 16px;
  box-shadow: 0px 3.3623225688934326px 8.966193199157715px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 11207.7412109375px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
 
.emergency-thq-text-elm2 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: normal;
}
 
.emergency-thq-text-elm3 {
  color: rgba(255, 255, 255, 0.8500000238418579);
  width: 151px;
  height: auto;
  text-align: center;
  line-height: normal;
}
 
.emergency-thq-frame1-elm {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.emergency-thq-text-elm4 {
  color: var(--dl-color-default-primary);
  height: auto;
  align-self: stretch;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  text-align: center;
  line-height: normal;
}
 
.emergency-thq-text-elm5 {
  color: var(--dl-color-typography-muted);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: normal;
}
 
.emergency-link {
  display: contents;
}
 
.emergency-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.emergency-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.emergency-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .emergency-thq-emergency-elm {
    height: 1000px;
  }
}
