.learn-container1 {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.learn-thq-learn-elm {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 72px 48px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-default-quickresponseicon);
}
 
.learn-thq-card-elm1 {
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.learn-thq-container-header-elm {
  gap: 24px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.learn-thq-text-elm10 {
  color: rgba(0, 0, 0, 1);
  width: 326px;
  height: auto;
  font-size: 40px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.learn-thq-text-elm11 {
  color: var(--dl-color-typography-muted);
  width: 326px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.learn-thq-text-elm12 {
  color: var(--dl-color-default-primary);
  width: 326px;
  height: auto;
  font-size: 17.51243782043457px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 21.890546798706055px;
  font-stretch: normal;
  text-decoration: underline;
}
 
.learn-thq-card-elm2 {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.learn-thq-image-elm,
.learn-thq-image2-elm,
.learn-thq-image3-elm {
  max-width: 100%;
  height: auto;
}
 
.learn-thq-text-elm13 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  max-width: 700px;
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.4;
  font-stretch: normal;
  text-decoration: none;
  white-space: normal;
  word-break: break-word;
}
 
.learn-thq-text-elm14 {
  font-weight: 700;
}
 
.learn-thq-text-elm15 {
  text-decoration: NONE;
}
 
.learn-thq-text-elm16 {
  text-decoration: NONE;
}
 
.learn-thq-text-elm17 {
  text-decoration: UNDERLINE;
}
 
.learn-thq-tab-bari-phone-elm {
  width: 440px;
  display: flex;
  padding: 17.51243782043457px 27.363183975219727px 27.363183975219727px;
  z-index: 1;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.learn-thq-button-elm1 {
  gap: -10.945273399353027px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
 
.learn-thq-bg-elm {
  width: 321.7562255859375px;
  height: 68.75621795654297px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.learn-thq-textinputcontainer-elm {
  top: -28.457712173461914px;
  left: -28.457712173461914px;
  width: 379px;
  height: 125.91542053222656px;
  display: flex;
  opacity: 0.67;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.learn-thq-mask-elm {
  top: -54.72636795043945px;
  left: -54.72636795043945px;
  width: 488px;
  height: 235.45274353027344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.learn-thq-button-elm2 {
  top: 83.18408203125px;
  left: 83.18408203125px;
  width: 322px;
  height: 69px;
  position: absolute;
  border-radius: 1094.52734375px;
}
 
.learn-thq-textinput-elm1 {
  top: 30.646766662597656px;
  left: 28.457712173461914px;
  width: 322px;
  height: 69.08457946777344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1094.52734375px;
  background-color: rgba(0, 0, 0, 0.03999999910593033);
}
 
.learn-thq-textinput-elm2 {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 323.9801025390625px;
  background-color: rgba(247, 247, 247, 1);
}
 
.learn-thq-textinput-elm3 {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 323.9801025390625px;
  background-color: rgba(0, 0, 0, 0.004000000189989805);
}
 
.learn-thq-tab1-elm {
  gap: 1.0945273637771606px;
  width: 111.64179229736328px;
  display: flex;
  padding: 6.567164421081543px 8.756218910217285px 7.661691665649414px;
  z-index: 1;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.learn-thq-switch-elm {
  top: 0px;
  left: 0px;
  width: 112px;
  height: 60px;
  position: absolute;
  border-radius: 109.4527359008789px;
}
 
.learn-thq-text-elm23 {
  color: rgba(0, 136, 255, 1);
  height: auto;
  z-index: 1;
  font-size: 18.606966018676758px;
  align-self: stretch;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 600;
  line-height: 30.646766662597656px;
  font-stretch: normal;
  text-decoration: none;
}
 
.learn-thq-text-elm24 {
  color: rgba(0, 136, 255, 1);
  height: auto;
  z-index: 2;
  font-size: 10.945273399353027px;
  align-self: stretch;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 600;
  line-height: 13.134328842163086px;
  font-stretch: normal;
  text-decoration: none;
}
 
.learn-thq-tab2-elm {
  gap: 1.0945273637771606px;
  width: 111.64179229736328px;
  display: flex;
  padding: 6.567164421081543px 8.756218910217285px 7.661691665649414px;
  z-index: 2;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.learn-thq-text-elm25 {
  color: rgba(64, 64, 64, 1);
  height: auto;
  font-size: 18.606966018676758px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: 30.646766662597656px;
  font-stretch: normal;
  text-decoration: none;
}
 
.learn-thq-text-elm26 {
  color: rgba(64, 64, 64, 1);
  height: auto;
  font-size: 10.945273399353027px;
  align-self: stretch;
  font-style: Medium;
  text-align: center;
  font-family: SF Pro;
  font-weight: 500;
  line-height: 13.134328842163086px;
  font-stretch: normal;
  text-decoration: none;
}
 
.learn-thq-tab3-elm {
  gap: 1.0945273637771606px;
  width: 111.64179229736328px;
  display: flex;
  padding: 6.567164421081543px 8.756218910217285px 7.661691665649414px;
  z-index: 3;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.learn-thq-text-elm27 {
  color: var(--dl-color-default-secondary);
  height: auto;
  font-size: 18.606966018676758px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: 30.646766662597656px;
  font-stretch: normal;
  text-decoration: none;
}
 
.learn-thq-text-elm28 {
  color: var(--dl-color-default-secondary);
  height: auto;
  font-size: 10.945273399353027px;
  align-self: stretch;
  font-style: Medium;
  text-align: center;
  font-family: SF Pro;
  font-weight: 500;
  line-height: 13.134328842163086px;
  font-stretch: normal;
  text-decoration: none;
}
 
.learn-link {
  display: contents;
}
 
.learn-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.learn-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.learn-text19 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
