.respond-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.respond-thq-respond-elm1 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 72px 48px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-default-quickresponseicon);
  box-sizing: border-box;
}

.respond-thq-card-elm {
  gap: 48px;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.respond-thq-top-section-elm {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.respond-thq-respond-elm2 {
  gap: 40px;
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.respond-thq-text-elm10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-alerts-elm {
  gap: 16px;
  width: 100%;
  max-width: 155.4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.respond-thq-text-elm11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-toggle-elm {
  gap: 2.799999952316284px;
  width: 48px;
  height: 28px;
  display: flex;
  padding: 3.5px 3.5px 3.5px 7px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 70px;
  justify-content: flex-end;
  background-color: var(--dl-color-default-secondary);
}

.respond-thq-togglewhitecircle-elm {
  width: 21px;
  height: 21px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 1.399999976158142px 5.599999904632568px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-radius: 70px;
  background-color: rgba(255, 255, 255, 1);
}

.respond-thq-bottom-section-elm {
  gap: 20px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.respond-thq-active-alert-elm {
  gap: 4px;
  width: 100%;
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(255, 223, 223, 1);
  box-sizing: border-box;
}

.respond-thq-text-elm12 {
  color: rgba(87, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-text-elm13 {
  color: rgba(87, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-body-elm {
  gap: 16px;
  width: 100%;
  max-width: 328px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.respond-thq-text-elm14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-frame11-elm {
  gap: 8px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.respond-thq-frame10-elm {
  gap: 4px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.respond-thq-map-pin-elm {
  width: 17px;
  height: 19px;
  object-fit: contain;
  flex-shrink: 0;
}

.respond-thq-text-elm15 {
  color: var(--dl-color-typography-primarytext);
  width: 100%;
  max-width: 296px;
  height: auto;
  text-align: left;
  line-height: 24px;
}

.respond-thq-text-elm18 {
  color: var(--dl-color-typography-primarytext);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}

.respond-thq-buttons-elm {
  gap: 12px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.respond-thq-frame20-elm {
  gap: 4px;
  display: flex;
  padding: 8px 4px;
  cursor: pointer;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(247, 165, 165, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(220, 74, 74, 1);
}

.respond-thq-text-elm19 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-frame21-elm {
  gap: 4px;
  display: flex;
  padding: 8px 4px;
  cursor: pointer;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(246, 164, 164, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
}

.respond-thq-text-elm20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-recentalerts-elm {
  gap: 8px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.respond-thq-line1-elm {
  width: 100%;
  height: 1px;
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.12);
}

.respond-thq-frame19-elm {
  gap: 24px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.respond-thq-text-elm21 {
  color: rgba(51, 51, 51, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}

.respond-thq-frame16-elm {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
}

.respond-thq-frame18-elm {
  gap: 4px;
  width: 100%;
  max-width: 328px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.respond-thq-frame14-elm1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.respond-thq-text-elm22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-text-elm23 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}

.respond-thq-status-elm1 {
  gap: 4px;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 182, 128, 0.30000001192092896);
}

.respond-thq-text-elm24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}

.respond-thq-line2-elm {
  width: 100%;
  height: 1px;
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.12);
}

.respond-thq-frame17-elm {
  gap: 4px;
  width: 100%;
  max-width: 328px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.respond-thq-frame14-elm2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.respond-thq-text-elm25 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}

.respond-thq-text-elm26 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}

.respond-thq-status-elm2 {
  gap: 4px;
  display: flex;
  padding: 2px 8px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}

.respond-thq-text-elm27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}

.respond-link {
  display: contents;
}

.respond-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}

.respond-icon1 {
  width: 24px;
  margin-right: 4px;
}

.respond-text2 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 479px) {
  .respond-thq-respond-elm1 {
    padding: 32px 20px;
  }

  .respond-thq-text-elm10 {
    font-size: 32px;
  }

  .respond-thq-active-alert-elm {
    padding: 12px;
  }

  .respond-thq-buttons-elm {
    flex-direction: column;
    align-items: stretch;
  }
}